<div class="grain-effect">
  
</div>

<div class="frame">
  <div id="border">
    <div class="darken-effect">
      
    </div>
    
    <div class="grain-effect">
      
    </div>
    <splide [options]="{ type: 'fade', pagination: false, arrows: false, drag: true, rewind: true, speed: 5000 }"
    (onInit)="onSplideInit($event)">
    <splide-slide>
      <div class="background-image foo">
      </div>
    </splide-slide>
    
    <splide-slide>
      <div class="background-image bar">
      </div>
    </splide-slide>
  </splide>
  
  <div id="screensaver-info-pages" class="absolute-fill">
    <div class="darken-effect">
      
    </div>
    
    <app-cover-page class="absolute-fill"></app-cover-page>
    
    <app-columns-page class="absolute-fill"></app-columns-page>
  </div>
</div>
