<div class="darken-effect">
        
</div>

<div class="grain-effect">
        
</div>

<div class="frame">
    <div id="border">
      <div class="darken-effect">
        
      </div>

      <div class="grain-effect">
        
      </div>
      <splide>
          <splide-slide>
            <div class="background-image foo">
            </div>
          </splide-slide>

          <splide-slide>
            <div class="background-image bar">
            </div>
          </splide-slide>
      </splide>
    </div>
  </div>