<div class="cover-page">
  <div class="cover-page__time-block">
    <div class="cover-page__clock">
      {{ clockService.time() | formatDateTime:'HH:mm' }}
    </div>
    <div class="cover-page__date">
      {{ clockService.time() | formatDateTime:'fullDate' }}
    </div>
  </div>

  <div class="cover-page__photo-meta">
    @if (imageCycleService.currentMeta().location) {
      <div class="cover-page__photo-location">
        {{ imageCycleService.currentMeta().location }}
      </div>
    }
    @if (imageCycleService.currentMeta().title) {
      <div class="cover-page__photo-title">
        {{ imageCycleService.currentMeta().title }}
      </div>
    }
    @if (imageCycleService.currentMeta().subtitle) {
      <div class="cover-page__photo-subtitle">
        {{ imageCycleService.currentMeta().subtitle }}
      </div>
    }
  </div>
</div>