<div class="cover-page">
  <div class="cover-page__time-block">
    <div class="cover-page__clock">
      {{ clockService.time() | formatDateTime:'HH:mm' }}
    </div>
    <div class="cover-page__date">
      {{ clockService.time() | formatDateTime:'fullDate' }}
    </div>
  </div>

  <div class="cover-page__photo-meta">
    <div class="cover-page__photo-location"
         *ngIf="imageCycleService.currentMeta().location">
      {{ imageCycleService.currentMeta().location }}
    </div>
    <div class="cover-page__photo-title"
         *ngIf="imageCycleService.currentMeta().title">
      {{ imageCycleService.currentMeta().title }}
    </div>
    <div class="cover-page__photo-subtitle"
         *ngIf="imageCycleService.currentMeta().subtitle">
      {{ imageCycleService.currentMeta().subtitle }}
    </div>
  </div>
</div>