@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

body {
    font-family: 'Inter', sans-serif;
}