@use 'app/design-system' as ds;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  height: 100dvh;
  margin: 0;
  padding: 0;
  width: 100vw;
  width: 100dvw;
  background-color: #0a0a0c;
  overflow: hidden;
}

body {
  font-family: var(--font-body);
  font-weight: 300;
  color: var(--text-primary);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
