@font-face {
  font-family: 'DidotLTPro';
  src: url('../../assets/fonts/DidotLTPro-Roman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'DidotLTPro';
  src: url('../../assets/fonts/DidotLTPro-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'DidotLTPro';
  src: url('../../assets/fonts/DidotLTPro-Headline.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'AvenirNextLTPro';
  src: url('../../assets/fonts/AvenirNextLTPro-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'AvenirNextLTPro';
  src: url('../../assets/fonts/AvenirNextLTPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'AvenirNextLTPro';
  src: url('../../assets/fonts/AvenirNextLTPro-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'AvenirNextLTPro';
  src: url('../../assets/fonts/AvenirNextLTPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

