.cover-page {
    text-align: center;
    padding: 10vh 0;
    
    .time {
        font-size: 5.2rem;
        line-height: 5.2rem;
    }

    .date, .widgets {
        font-size: 1.4rem;
        margin-bottom: 1.4rem;
    }

    .widgets {
        display: flex;
        justify-content: center;
        gap: 1.4rem;
    }
}
